.navbar-brand{
    width: 100px;
    /* filter: drop-shadow(1px black); */
}
.modal-body{

    p{
        padding: 15px;
    }
    img{
        align-items: center;
    };
}
/* .trabajadores>img{
    width: 20px;
} */

.collage{
    width: 50%;
}
