*{
    padding: 0;
    margin: 0;
}

main{
    
        background-color: #ffd45666;
}
#menu{
    background-color: #efca5cd4;
}
.navbar-brand{
    width: 100px;
    
    /* filter: drop-shadow(1px black); */
}

/*Pg inicio*/
.modal-body{

    p{
        padding: 15px;
    }
    img{
        align-items: center;
    };
}

.curiosidades{
    height: 52vh;
}

.collage{
    width: 50%;
}

/*Equipo*/
#trabajadores img{
    width: 192px;
    height: 21vh;
    
}
@media screen and (max-width:769px) {
    #trabajadores{
        height: 100% !important;
    }
    .tra1{
        height: 100% !important;
    }
}


#trabajadores img:hover{
    filter: brightness(0.6);
}
.tra1{
    height: 39vh;
padding: 30px;
}

#trabajadores{
height: 82vh;
align-content: center;
.card{
    background: none;
    border: none;
}
}
.este{
    padding-top: 42px;
}
.carru{
    height: 49vh;
}

.carruLetras{
    background: url(./img/carruLe.jfif);
    
    background-position: center;
    background-size: cover;
    color: rgb(255, 214, 80);
    padding: 8%;
    filter: brightness(0.7);
    text-align: center;
    
    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }
}

.videoEq{
    width: 100%;
}
.equi{
    text-align: center;
}









/*Pg Leon*/

.banner{
    background: url(./img/bannerLeon.jpg);
    height: 28vh;

background-position: center;
h2{
    
    font-weight: 300;
}
}
.mapa{
width: 88%;
}
.barra{
    width: 20px;
}
.lista{
    list-style: none;
    font-size: 25px;
}
.este{
    display: flex;
}
.carrusel{
    width: 50%;
}


/*Pg Tigre*/

.bannerT{
    background: url(./img/ojos.jpg);
    height: 28vh;
background-position: center;
background-size: cover;
}

.tamaño{
    background: url(./img/tamaño.jpg);
    height: 20vh;
    background-position: center;
    background-size: cover;
    color: #efca5c;
    padding: 0;
    text-align: center;
}

.pelaje{
    background: url(./img/pelaje.jpeg);
    height: 20vh;
    background-position: center;
    background-size: cover;
    color: #efca5c;
    padding: 0;
    text-align: center;
}

.ojos{
    background: url(./img/ojos.jpg);
    height: 20vh;
    background-position: center;
    background-size: cover;
    color: #efca5c;
    padding: 0;
    text-align: center;
}
.aqui{
    background:rgba(0, 0, 0, 0.438);
}
.carac{
    height: 27vh;
    PADDING: 30PX;
}

.tigres{
    height: 70vh;
    width: 72%;
}
.curiosidades{
    height: 65vh;
}
.carruFin{
    height: 89vh;
}
/*pgLeopardo*/
.imgleo{
    width: 100%;
}
.leo{
    height: 70vh;
    padding: 19px;
}
.leopardos{
    height: 148vh;
    img{

        width: 100%;
    }
}
.leop1{
    background: url(./img/leop1);
    height: 30vh;
    background-position: center;
    background-size: cover;
    color: #ffc107;
    padding: 4px;
    text-align: justify;
    p{
        filter: brightness(0.7);
    }
}
.leop2{
background: url(./img/leop2.jpg);
height: 30vh;
background-position: center;
background-size: cover;
color: #ffc107;
padding: 4px;
text-align: justify;
}
.leop3{
background: url(./img/leop3);
height: 30vh;
background-position: center;
background-size: cover;
color: #ffc107;
padding: 4px;
text-align: justify;
}
.leop4{
background: url(./img/leop4);
height: 30vh;
background-position: center;
background-size: cover;
color: #ffc107;
padding: 4px;
text-align: justify;
}
.tipos{
    height: 80vh;
    filter: contrast(0.8);
}
footer a{
text-decoration: none;
color:white;
}