.navbar-brand{
    width: 100px;
    /* filter: drop-shadow(1px black); */
}
.modal-body{

    p{
        padding: 15px;
    }
    img{
        align-items: center;
    };
}



.collage{
    width: 50%;
}

/*Equipo*/
#trabajadores img{
    width: 192px;
    height: 21vh;
    
}
#trabajadores img:hover{
    filter: brightness(0.6);
}
.tra1{
    height: 39vh;
padding: 30px;
}

.este{
    padding-top: 42px;
}

.carruLetras{
    background: url(./img/carruLe.jfif);
    height: 43vh;
    background-position: center;
    background-size: cover;
    color: rgb(255, 214, 80);
    padding: 8%;
    filter: brightness(0.7);
    text-align: center;
    
    h2{
        font-size: 3rem;
    }

    h3{
        font-size: 2rem;
    }
}











/*Pg Leon*/

.banner{
    background: url(./img/bannerLeon.jpg);
    height: 28vh;

background-position: center;
h2{
    
    font-weight: 300;
}
}
.mapa{
width: 88%;
}
.barra{
    width: 20px;
}
.lista{
    list-style: none;
    font-size: 25px;
}
.este{
    display: flex;
}
.carrusel{
    width: 50%;
}


